.photo-grid {
  margin: 0 auto;
  padding-top: 118px;
  width: 100%;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 213px;
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding-top: 64px;
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr 264px;
    row-gap: 16px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    padding-top: 38px;
    max-width: 288px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8fr 216px);
  }
}
