.places {
  margin: 0 auto;
  width: 100%;
  max-width: 987px;
  font-family: Inter;
}

.place {
  margin: 0;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title artits"
    "image description"
    "button description";
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  font-size: 72px;
  font-weight: 700;
  grid-area: title;
  line-height: 76px;
  text-align: left;
  width: 100%;
  max-width: 460px;
  height: 100%;
  max-height: 152px;
  margin: 0;
  display: flex;
  align-items: end;
}

.place__image {
  width: 100%;
  max-width: 460px;
  grid-area: image;
  box-shadow: 13px 13px 18px rgba(0, 0, 0, 0.4);
  margin: 0;
  opacity: 1;
}

.place__image:hover {
  opacity: 0.5;
}

.place__button {
  grid-area: button;
  margin: 0;
  font-weight: 600;
  opacity: 1;
  background: linear-gradient(to right, #0278fe 0%, #003a7b 100%);
  border-radius: 4px;
  width: 289px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 13px 13px 25px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.place__button:hover {
  opacity: 0.5;
}

.place__button-text {
  color: white;
  font-size: 18px;
  opacity: 1;
}

.place__artists {
  grid-area: artits;
}

.place__artists-title {
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
  padding-bottom: 8px;
  margin: 0;
}

.place__artist {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.place__description {
  grid-area: description;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.place__description-text {
  margin: 0;
  padding-bottom: 25px;
  width: 100%;
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
  }

  .place {
    padding-bottom: 72px;
    column-gap: 28px;
  }

  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 320px;
  }

  .place {
    padding-bottom: 50px;
  }
}
